* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header {
    background-image: url("images/city.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}

nav {
    height: 124px;
    padding-right: 71px;
    width: 100%;
    margin-bottom: 100px;
}

#logo-box {
    background-color: white;
    height: 100%;
    width: 335px;
    display: flex;
    justify-content: flex-end;
    float: left;
}

#nav-box {
    width: calc(100% - 335px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float: right;
    font-family: 'Inter', sans-serif;
}

#nav-box img {
    display: none;
}

#nav-box ul li {
    list-style: none;
    display: inline-block;
}

#nav-box ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#nav-box a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: .2s;
}

#nav-box a:hover {
    color: #c6c6c6;
}

#main-title-wrapper {
    width: 100%;
    padding: 0 120px;
}

#title-wrapper {
    width: 546px;
    font-family: 'Inter', sans-serif;
}

#title-wrapper p {
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

#title-wrapper h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 124.6%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#title-wrapper div {
    width: 80%;
    background: #404040;
    border-radius: 3px;
    padding: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

#title-wrapper div:hover {
    cursor: pointer;
    background: #3b3a3a;
}

#title-wrapper a {
    text-decoration: none;
}

/*header*/
@media screen and (max-width: 1200px) {
    /*header*/
    nav {
        padding: 0;
    }

    #logo-box {
        width: 235px;
    }

    #nav-box {
        width: calc(100% - 235px);
    }

    /*header*/

}

@media screen and (min-width: 1200px) {
    /*header*/
    #nav-box {
        padding-left: 20%;
    }

    /*header*/

}

@media screen and (max-width: 768px) {
    /*header*/
    nav {
        height: 80px;
        margin-bottom: 80px;
    }

    #nav-box ul {
        display: none;
    }

    #nav-box {
        width: calc(100% - 137px);
        justify-content: flex-end;
        padding-right: 20px;
    }

    #nav-box img {
        display: block;
    }

    #logo-box {
        height: 100%;
        width: 137px;
    }

    #logo-box img {
        width: 100%;
    }

    #main-title-wrapper {
        width: 100%;
        padding: 0 20px;
    }

    #title-wrapper {
        width: 100%;
    }

    #title-wrapper h1 {
        font-size: 50px;
    }

    #title-wrapper div {
        width: 100%;
    }

    /*header*/

}
